<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Clientes</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo lista todos los clientes de la tienda.</p>

    </div>
</div>
<form #updateForm="ngForm" (ngSubmit)="actualizar(updateForm)">

    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5 style="margin-bottom: 0px;">Actualizar cliente</h5>
        </div>
        <div class="card-body" *ngIf="cliente!=undefined">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Nombres</label>
                    <input class="form-control" type="text" name="nombres" [(ngModel)]="cliente.nombres" placeholder="Nombres completos" required>
                </div>
                <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Apellidos</label>
                    <input class="form-control" type="text" name="apellidos" [(ngModel)]="cliente.apellidos" placeholder="Apellidos completos" required>
                </div>
                <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Correo electrónico</label>
                    <input class="form-control" type="email" name="email" [(ngModel)]="cliente.email" placeholder="Email" required>
                </div>

                <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Telefono</label>
                    <input class="form-control" type="text" name="telefono" [(ngModel)]="cliente.telefono" placeholder="Telefono" required>
                </div>
                <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Fecha nacimiento</label>
                    <input class="form-control" type="date" name="f_nacimiento" [(ngModel)]="cliente.f_nacimiento" required>
                </div>
                <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">DNI</label>
                    <input class="form-control" type="number" name="dni" [(ngModel)]="cliente.dni" placeholder="DNI" required>
                </div>



                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">Genero</label>
                    <select class="form-control custom-select" name="genero" [(ngModel)]="cliente.genero" required>
                         <option value="" disabled selected>Seleccione genero</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                </select>
                </div>
            </div>

        </div>
        <div class="card-body" *ngIf="cliente == undefined">
            <h1>No se encontró el registro</h1>
            <div class="col-3 mx-auto">

                <img src="../../../../assets/img/advertencia.png" width="100%">
            </div>
        </div>
        <div class="card-footer">
            <button *ngIf="!cargando" class="btn btn-primary mr-3" type="submit">Actualizar cliente</button>
            <button *ngIf="cargando" type="button" class="btn btn-secondary" disabled>
              <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
              Actualizando...
            </button>
            <a class="btn btn-warning" [routerLink]="['/panel/clientes']">Regresar</a>
        </div>
    </div>
</form>
