<app-sidebar></app-sidebar>
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo lista todos los productos de la tienda.</p>
        <p class="font-size-sm font-weight-medium pl-md-4"><a class="text-nowrap" [routerLink]="['/panel/producto/registro']" rel="noopener">Registrar nuevo<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a></p>
    </div>
</div>

<div class="card box-shadow-sm">
    <div class="card-header">
        <h5 style="margin-bottom: 0px;">Filtro de productos</h5>
    </div>

    <div class="card-body">
        <div class="row animated fadeIn fast" *ngIf="cargando">
            <div class="col-12">
                <div class="alert alert-info text-center" role="alert">
                    <!-- Custom size border spinner -->
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <div class="input-group">
                        <input class="form-control" type="text" name="filtro" placeholder="Titulo producto " [(ngModel)]="filtro" #txtTermino>
                        <button class="form-control btn btn-primary" (click)="filtrar_productos()" type="button">Filtrar</button>
                        <button class="form-control btn btn-info" (click)="reset()" type="button">Reset</button>
                    </div>
                    <div class="col-12 mt-3">
                        <button class="btn btn-success" (click)="donwload_excel()">Exportar a Excel</button>
                    </div>
                </div>
            </div>
        </div>
        <table *ngIf="!cargando">

        </table>
        <ng-container>

            <div class="table-responsive" *ngIf="!cargando">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Título</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Categoría</th>
                            <th>Ventas</th>
                            <th>OP</th>


                        </tr>
                    </thead>


                    <tbody *ngFor="let item of productos ; let i = index">
                        <tr>
                            <td>
                                <!--para la img de portada se inyecta directamente la ruta establecida en el backend-->
                                <h6 style="padding-bottom: 0;margin-bottom: 0;">
                                    <img style="width: 50px;" [src]=" url + '/obtener_portada/'+ item.portada" class="img-thumbnail rounded-0" alt="Square image"> {{item.titulo}}
                                </h6>
                            </td>
                            <td>{{item.stock}}</td>
                            <td>{{item.precio}}</td>
                            <td>{{item.categoria}}</td>
                            <td>{{item.n_ventas}}</td>
                            <td>
                                <div class="btn-group dropdown d-inline-block mb-3 mr-2  ">
                                    <button class="btn btn-outline-secondary btn-sm  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Opciones
                          </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" [routerLink]="['/panel/productos', item._id]">Editar producto</a></li>
                                        <li><a class="dropdown-item" (click)="borrarProducto( item )">Eliminar producto</a></li>
                                        <li><a class="dropdown-item" [routerLink]="['/panel/productos/inventario', item._id]">Inventario</a></li>
                                        <li><a class="dropdown-item" [routerLink]="['/panel/productos/variedades', item._id]">Variedades</a></li>
                                        <li><a class="dropdown-item" [routerLink]="['/panel/productos/galeria', item._id]">Galería</a></li>



                                    </ul>
                                </div>
                            </td>

                            <td>
                                <!--  <div class="btn-group dropdown d-inline-block mb-3 mr-2  ">
                                <button class="btn btn-outline-secondary btn-sm  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Opciones
                            </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" [routerLink]="['/panel/clientes/', item._id]">Editar cliente</a></li>
                                    <li><a class="dropdown-item" (click)="borrarCliente( item )">Eliminar cliente</a></li>
                                </ul>
                            </div>-->
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="productos.length === 0 ">
                        <tr>
                            <td class="text-danger">No hay productos en los registros</td>
                        </tr>
                    </tbody>


                </table>
            </div>

        </ng-container>
    </div>
    <div class="card-footer">
        <div *ngIf="txtTermino.value.length === 0">
            <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button> &nbsp;
            <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
        </div>
    </div>

</div>