<app-sidebar></app-sidebar>
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Clientes</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo lista todos los clientes de la tienda.</p>
        <p class="font-size-sm font-weight-medium pl-md-4"><a class="text-nowrap" [routerLink]="['/panel/clientes/registro']" rel="noopener">Registrar nuevo<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a></p>
    </div>
</div>

<div class="card box-shadow-sm">
    <div class="card-header">
        <h5 style="margin-bottom: 0px;">Filtro de clientes</h5>
    </div>
    <div class="card-header">
        <form class="form-inline pt-2">
            <label class="sr-only" for="inline-form-input-name">Apellidos</label>
            <input class="form-control mb-3 mr-sm-4" name="filtro_apellido" (keyup)="filtro('apellidos')" [(ngModel)]="filtro_apellido" type="text" placeholder="Apellidos" #txtTermino>
            <label class="sr-only" for="inline-form-input-username">Correo</label>
            <div class="input-group mb-3 mr-sm-4">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input class="form-control" type="text" name="filtro_email" (keyup)="filtro('email')" [(ngModel)]="filtro_email" placeholder="Email" #txtTermino>
            </div>

        </form>
    </div>
    <div class="card-body">
        <div class="row animated fadeIn fast" *ngIf="cargando">
            <div class="col-12">
                <div class="alert alert-info text-center" role="alert">
                    <!-- Custom size border spinner -->
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive" *ngIf="!cargando">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Opciones</th>
                    </tr>
                </thead>

                <tbody *ngFor="let item of clientes; let i = index">
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{item.nombres}}</td>
                        <td>{{item.apellidos}}</td>
                        <td>{{item.email}}</td>
                        <td>
                            <div class="btn-group dropdown d-inline-block mb-3 mr-2  ">
                                <button class="btn btn-outline-secondary btn-sm  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Opciones
                            </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" [routerLink]="['/panel/clientes/', item._id]">Editar cliente</a></li>
                                    <li><a class="dropdown-item" (click)="borrarCliente( item )">Eliminar cliente</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="clientes.length === 0 ">
                    <tr>
                        <td class="text-danger">No hay clientes en los registros</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">

        <div *ngIf="txtTermino.value.length === 0">
            <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button> &nbsp;
            <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
        </div>
    </div>
</div>
